html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: black;
    font-family:'华文细黑';
    font-size: 1.05em;
    line-height: 1.6em;
}

section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

div,button,a {
    color: #a4ecbc;
    position: absolute;
    margin: 0;
}

img, video,audio {
    position: absolute;
    opacity: 0;
}

#rm{
    color: #c4c4c4;
}

#word {
    height: 100vh;
    right: 0;
    z-index: 0;
}

#tuopian {
    width: 32%;
    z-index: 1;
    top: 50%;
    right: 8%;
    opacity: 1;
}

#gongyou{
    width: 30%;
    top: 50%;
    right: 65%;
}

#leixing {
    width: 30%;
    top: 53.5%;
    right: 65%;
}

#mapBlack {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top:-70vh;
}

#springContain {
    height: 23%;
    width: 40%;
    top: 50%;
    right:0;
    overflow: hidden;
}

#spring{
    margin: 0;
    padding: 0;
    /* object-fit: cover; */
    width: 100%;
    /* top: 0; */
}

#xisheng {
    top: 40%;
    width: 40%;
    left: 2%;
}

#mingbai{
    width: 20%;
    right: 0;
    top: 75%;
}

#video1 {
    width: 60%;
    left: 20%;
    top: 16%;
    outline: none;
}

#button{
    left: 87%;
    top: 90%;
    background-color: pink;
    margin: 0;
    opacity: 0;
}

#kunan {
    width: 30%;
    left: 13%;
    top: 8%;
}

#baishe {
    width: 15%;
    left: 83%;
    top: 28%;
}

#beiteng {
    width: 50%;
    left: 59%;
    top: 90%;
}

#mosque {
    height: 70%;
    top: 2.5%;
    left: 36%;
    opacity:1;
}

#statue {
    height: 70%;
    width: 23%;
    top: 2.5%;
    left: 69%;
    opacity:1;
    object-fit: cover;
}

#shanghai {
    width: 35%;
    bottom: 3%;
    left: 1%;
}

#kongju {
    width: 35%;
    top: 70%;
    left: 35%;
}

#c {
    height: 100%;
    width: 100%;
}

#i1 {
    right: 0;
    width: 55%;
}

#i2 {
    width: 11.6%;
    left: 50.3%;
    bottom: 60.5%;
}

#i3 {
    right: 14.2%;
    bottom: 60.5%;
    width: 11.6%;
}

#i4 {
    right: 26%;
    bottom: 62%;
    width: 11.8%;
}

#wuming {
    top: 80%;
    left: 8%;
}

#covert{
    display: block!important;
    outline: none;
    opacity: 0;
}

#free{
    width: 50%;
    left: 25%;
    top: 45%;
    text-align: center;
    opacity: 0;
}

#indoor {
    height: 80%;
    top: 10%;
    left: 13%;
}

#chemical {
    width: 18%;
    top: 10%;
    left: 48%;
}

#heshui {
    width: 35%;
    left: 80%;
    top: 90%;
}

#disco {
    height: 75%;
    top: 110%;
    left: 5%;
    opacity: 1;
    z-index: 4;
}

#door2 {
    height: 75%;
    top: 120%;
    left: 30%;
    opacity: 1;
    z-index: 4;
}

#rule {
    width: 20%;
    top: 100%;
    left: 10%;
    opacity: 1;
    z-index: 3;
}

#jixia{
    width:25% ;
    left: 37%;
    top: 70%;
    z-index: 3;
}

#video2 {
    width: 35%;
    bottom: 0;
    right:0;
    z-index: 3;
    outline: none;
}

#chair {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
}

#mapFlat {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 1;
}

#link{
    z-index: 3;
    opacity: 0;
    color: #a4ecbc;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.03em;
}