html { height: 100% }

body {
  margin: 0px;
  overflow: hidden;
  min-height: 100%
}


#video{
  position: absolute;
  display: none;
}


#kuang{
  position: absolute;
  background: none;
  color: white;
  font-size: 0.6em;
  top:79.4%;
}

#kuang span {
  margin: 0 50px;
}