html { height: 100% }

body {
  margin: 0px;
  overflow: hidden;
  min-height: 100%;
  background-color: black;
  border: none;
}


#video{
  position: absolute;
  display: none;
}


#kuang{
  position: absolute;
  background: none;
  color: white;
  font-size: 0.6em;
  top:503px;
}

#kuang span {
  margin: 0 21px;
}


div:focus {
  outline:none !important;
}